<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.svg" />
		<title>Dumpd!</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="canonical" href="https://www.dumpd.in/" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>

		<!-- Basic SEO Meta Tags -->
		<meta
			name="description"
			content="Explore the latest blogs on AI, technology, and more. Stay updated with insights from top authors."
		/>
		<meta name="author" content="Dumpd!" />
		<meta name="robots" content="index, follow" />

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Dumpd! - Latest Blogs" />
		<meta
			property="og:description"
			content="Explore the latest blogs on AI, technology, and more. Stay updated with insights from top authors."
		/>
		<meta property="og:image" content="/images/ai-blog-preview.jpg" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Dumpd!" />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Dumpd! - Latest Blogs" />
		<meta
			name="twitter:description"
			content="Explore the latest blogs on AI, technology, and more. Stay updated with insights from top authors."
		/>
		<meta name="twitter:image" content="/icons/favicon.svg" />

		<%- include('gtag') %>
	</head>

	<body>
		<%- include('header') %>
		<div
			class="hidden md:hidden fixed w-full h-1/2 bottom-0 z-50 bg-white p-4 border overflow-y-auto"
			id="menubar"
		>
			<div class="flex justify-between mb-2">
				<a class="hover:underline" href="/categories">
					<span class="text-lg font-bold">Categories</span>
				</a>
				<button id="closeBtn">X</button>
			</div>
			<ul>
				<% categories.length && categories.forEach(category => { %>
				<li class="py-2 border-zinc-700">
					<a
						class="hover:underline text-lg"
						href="/blogs/categories/<%= category.name %>"
						><%= category.name %></a
					>
				</li>
				<% }) %> <% subcategories.length && subcategories.forEach(subcategory =>
				{ %>
				<li class="py-2 border-zinc-700">
					<a
						class="hover:underline text-lg"
						href="/blogs/categories/<%= category %>/subcategories/<%= subcategory %>"
						><%= subcategory %></a
					>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-12">
			<div class="hidden md:block md:col-span-1"></div>
			<div class="col-span-1 md:col-span-10 md:grid md:grid-cols-8 gap-2">
				<!-- CATEGORIES SECTION -->
				<div class="hidden md:block md:col-span-1">
					<ul>
						<% categories.length && categories.forEach(category => { %>
						<li>
							<a
								class="title"
								href="/blogs/categories/<%= category.name %>"
								><%= category.name %></a
							>
						</li>
						<% }) %> <% subcategories.length &&
						subcategories.forEach(subcategory => { %>
						<li>
							<a
								class="title"
								href="/blogs/categories/<%= category.name %>/subcategories/<%= subcategory %>"
								><%= subcategory %></a
							>
						</li>
						<% }) %>
					</ul>
					
				</div>
				<!-- BLOG SECTION -->
				<div class="col-span-1 md:col-span-5">
					<% if (isLoggedIn && !hasCategoryFilter) { %>
					<div class="hidden md:grid md:grid-cols-6 gap-4 mb-4">
						<span
							class="<%= !isFollowingTabSelected ? 'tab-selected': 'tab'%>"
						>
							<a href="/">Discover</a>
						</span>
						<span
							class="<%= isFollowingTabSelected ? 'tab-selected': 'tab'%>"
						>
							<a href="/following">Following</a>
						</span>
					</div>
					<div class="md:hidden grid grid-cols-2 gap-4 mb-4 px-4">
						<span
							class="<%= !isFollowingTabSelected ? 'tab-selected': 'tab'%>"
						>
							<a href="/">Discover</a>
						</span>
						<span
							class="<%= isFollowingTabSelected ? 'tab-selected': 'tab'%>"
						>
							<a href="/following">Following</a>
						</span>
					</div>
					<% } %> <% if (hasCategoryFilter) { %>
					<div class="card grid grid-cols-4 gap-4">
						
						<div class="col-span-4 md:col-span-4 flex flex-col justify-center">
							<h3><i class="fa-solid fa-list"></i><%= category.name%></h3>
							<p><%= category.description%></p>
							
							<% if (isLoggedIn) { %>
							<div class="mt-2">
								<a
									href="/categories/<%=category._id%>/users/<%=userId%>/<%= isCategoryFollowed ? 'unfollow' : 'follow'%>"
								>
									<button>
										<%=isCategoryFollowed ? 'Unfollow' : 'Follow' %>
									</button>
								</a>
							</div>
							<% } %>
						</div>
					</div>

					<% } %> <% if (blogs.length === 0) {%>
					<div class="flex flex-col items-center justify-center mt-60">
						<i class="fa-solid fa-magnifying-glass text-3xl text-gray-400"></i>
						<p class="text-sm mt-4 text-gray-400">Oops! Looks like we ran out of content.
						</p>
					</div>
					<% } %> <% blogs.forEach(blog => { %>
					<a href="/blogs/<%= blog.slug %>"
						><div class="card">
							<div class="flex justify-between items-center">
								
								<span class="author">
									<i class="fa-solid fa-user"></i>
									<%=blog.user.name %></span>
								<time><i class="fa-solid fa-calendar"></i><%= blog.date %></time>
							</div>
							
							<div class="col-span-1 md:col-span-3 flex flex-col">
								<h3 class="title"><%= blog.title %></h2>
								<p><%- blog.summary %></p>
							</div>
							<div>
								<span class="hashtag">#<%= blog.category %></span>
								<span class="hashtag">#<%= blog.subcategory %></span>
							</div>
						</div></a
					>
					<% }) %>
				</div>
				<div class="hidden md:block md:col-span-2 p-4 flex-col">
					<% if (popularBlogs.length) { %>
					<% } %> <% popularBlogs.forEach(blog => { %>
					<a href="/blogs/<%= blog.slug %>">
						<div class="flex flex-col gap-2 py-2">
							<h6 class="title"><%= blog.title %></h6>
							<span class="hashtag"><%= blog.summary %></span>
						</div>
					</a>
					<% }) %>
				</div>
			</div>
			<div class="hidden md:block md:col-span-1"></div>
		</div>
		<br />

		<script>
			const menuToggleBtn = document.getElementById('menu-toggle');
			const closeBtn = document.getElementById('closeBtn');
			const menubar = document.getElementById('menubar');

			let isMenubarOpen = false;

			menuToggleBtn.addEventListener('click', (e) => {
				if (!isMenubarOpen) {
					menubar.classList.remove('hidden');
				} else {
					menubar.classList.add('hidden');
				}

				isMenubarOpen = !isMenubarOpen;
			});

			closeBtn.addEventListener('click', (e) => {
				menubar.classList.add('hidden');
				isMenubarOpen = !isMenubarOpen;
			});
		</script>
	</body>
</html>
