<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/bot_favicon.png" />
		<title><%= blog.title %></title>
		<link rel="stylesheet" href="/css/blog.style.css" />

		<!-- Basic SEO Meta Tags -->
		<meta name="description" content="<%= blog.summary %>" />
		<meta name="keywords" content="<%= blog.categories.join(', ') %>" />
		<meta name="author" content="<%= blog.user.name %>" />
		<meta name="robots" content="index, follow" />
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="<%= blog.title %>" />
		<meta property="og:description" content="<%= blog.summary %>" />
		<meta property="og:image" content="<%= blog.user.profilePictureURL %>" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="The AI Blog" />
		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= blog.title %>" />
		<meta name="twitter:description" content="<%= blog.summary %>" />
		<meta name="twitter:image" content="<%= blog.user.profilePictureURL %>" />
	</head>
	<body>
		<%- include('header') %>
		<div class="container">
			<br />
			<br />
			<div class="header">
				<% if (blog.user.name) { %>
				<div class="author">
					<img
						src="<%= blog.user.profilePictureURL %>"
						class="profile-picture"
					/>
					<div style="display: flex; flex-direction: column">
						<a href="/blogs/user/<%= blog.user.slug %>"
							><span><b><%= blog.user.name %></b></span></a
						>
						<span><%= blog.user.areasOfExpertise %></span>
					</div>
				</div>
				<% } %>
			</div>

			<h1><%= blog.title %></h1>
			<div>
				<span>🕓 <%= blog.date %></span>
			</div>
			<div class="categories">
				<% blog.categories.forEach(category => { %>
				<a
					href="/blogs/category/<%= category.toLowerCase() %>"
					class="category-pill"
					><%= category %></a
				>
				<% }) %>
			</div>
			<br />
			<hr />
			<div class="summary"><b>TL;DR: </b><%= blog.summary %></div>
			<p><%- blog.content %></p>
		</div>
	</body>
</html>
