<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.svg" />
		<title><%= blog.title %></title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="canonical" href="https://www.dumpd.in/blogs/<%= blog.slug %>" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

		<!-- and it's easy to individually load additional languages -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>

		<script>
			hljs.highlightAll();
		</script>

		<!-- Basic SEO Meta Tags -->
		<meta name="description" content="<%= blog.summary %>" />
		<meta name="keywords" content="<%= blog.category, blog.subcategory %>" />
		<meta name="author" content="<%= blog.user.name %>" />
		<meta name="robots" content="index, follow" />
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="<%= blog.title %>" />
		<meta property="og:description" content="<%= blog.summary %>" />
		<meta
			property="og:url"
			content="<%= blog.domain %>/blogs/<%= blog.slug %>"
		/>
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="Dumpd!" />
		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= blog.title %>" />
		<meta name="twitter:description" content="<%= blog.summary %>" />

		<%- include('gtag') %>
	</head>
	<body>
		<%- include('header') %> <%- include('chatbot', { blog }) %>
		<div class="grid grid-cols-1 md:grid-cols-10">
			<div class="hidden md:block md:col-span-2"></div>
			<div class="col-span-1 md:col-span-6 flex flex-col gap-2 p-6">
				<!-- TITLE SECTION -->
				<div class="flex flex-col">
					<div>
						<time><i class="fa-solid fa-calendar"></i><%= blog.date %></time>
						<span class="author ml-2"
							><i class="fa-solid fa-user"></i><%= blog.user.name %></span
						>
					</div>
					<h1><%= blog.title %></h1>
					<p><%= blog.summary %></p>
				</div>

				<!-- CATEGORIES SECTION -->
				<div class="flex gap-1 flex-wrap">
					<a class="hashtag" href="/blogs/categories/<%= blog.category %>"
						>#<%= blog.category %></a
					>
					<a
						class="hashtag"
						href="/blogs/categories/<%= blog.category %>/subcategories/<%= blog.subcategory %>"
						>#<%= blog.subcategory %></a
					>
				</div>
				<hr />
				<!-- CONTENT SECTION -->
				<% if (isPremium && !isLoggedIn) { %> <%- include('premium') %> <% }
				else {%>
				<div class="flex flex-col">
					<p><%- blog.content %></p>
				</div>
				<% } %>
			</div>
			<div class="hidden md:block md:col-span-2"></div>
		</div>

		<script>
			document.getElementById('menu-toggle').classList.add('hidden');
		</script>
	</body>
</html>
