<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/bot_favicon.png" />
		<title><%= blog.title %></title>
		<link rel="stylesheet" href="/css/styles.css" />

		<!-- Basic SEO Meta Tags -->
		<meta name="description" content="<%= blog.summary %>" />
		<meta name="keywords" content="<%= blog.category %>" />
		<meta name="author" content="<%= blog.user.name %>" />
		<meta name="robots" content="index, follow" />
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="<%= blog.title %>" />
		<meta property="og:description" content="<%= blog.summary %>" />
		<meta property="og:image" content="<%= blog.user.profilePictureURL %>" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="The AI Blog" />
		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= blog.title %>" />
		<meta name="twitter:description" content="<%= blog.summary %>" />
		<meta name="twitter:image" content="<%= blog.user.profilePictureURL %>" />

		<!-- Google tag (gtag.js) -->
		<!-- <script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-VM6TGRN8B5"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-VM6TGRN8B5');
		</script> -->
	</head>
	<body>
		<%- include('header') %>
		<div class="grid grid-cols-1 md:grid-cols-12">
			<div class="hidden md:block md:col-span-1"></div>
			<div
				class="col-span-1 md:col-span-10 grid grid-cols-1 md:grid-cols-10 gap-2"
			>
				<div
					class="hidden md:block md:col-span-2 flex-col gap-2 px-2 items-end"
				>
					<img
						class="w-28 h-28"
						src="<%= blog.user.profilePictureURL %>"
						alt="profile picture of <%= blog.user.name %>"
					/>
					<div class="flex flex-col gap-2 text-end">
						<a href="/blogs/user/<%= blog.user.slug %>">
							<span class="text-xl font-bold"><%= blog.user.name %></span>
							<hr class="text-gray-300" />
						</a>
						<span class="text-sm"><%= blog.user.authorBio %></span>
					</div>
				</div>
				<div class="col-span-1 md:col-span-6 flex flex-col gap-2 bg-white p-6">
					<!-- TITLE SECTION -->
					<div class="flex flex-col">
						<span class="text-sm"><%= blog.date %></span>
						<h1 class="text-3xl font-bold"><%= blog.title %></h1>
						<p class="text-sm"><%= blog.summary %></p>
					</div>

					<!-- CATEGORIES SECTION -->
					<div class="flex gap-1 flex-wrap">
						<a class="pill" href="/blogs/categories/<%= blog.category %>"
							><%= blog.category %></a
						>
						<a
							class="pill"
							href="/blogs/categories/<%= blog.category %>/subcategories/<%= blog.subcategory %>"
							><%= blog.subcategory %></a
						>
					</div>
					<hr class="hidden md:block text-gray-200" />

					<!-- CONTENT SECTION -->
					<div class="flex flex-col">
						<p><%- blog.content %></p>
					</div>
				</div>
				<div class="col-span-2 flex flex-col gap-2"></div>
			</div>
			<div class="hidden md:block md:col-span-1"></div>
		</div>

		<script>
			document.getElementById('menu-toggle').classList.add('hidden');
		</script>
	</body>
</html>
