<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/bot_favicon.png" />
		<title>The AI Blog</title>
		<link rel="stylesheet" href="/css/blogs.style.css" />
	</head>
	<body>
		<%- include('header') %>
		<div class="content-container">
			<div class="left-content categories-container">
				<ul>
					<h3><u>Categories</u></h3>
					<% categories.forEach(category => { %>
					<li>
						<a href="/blogs/category/<%= category %>"><%= category %></a>
					</li>
					<% }) %>
				</ul>
				<br />
				<ul>
					<h3><u>Authors</u></h3>
					<% users.forEach(user => { %>
					<li>
						<a href="/blogs/user/<%= user.slug %>"><%= user.name %></a>
					</li>
					<% }) %>
				</ul>
			</div>
			<div class="right-content container">
				<% blogs.forEach(blog => { %>
				<div class="card">
					<div class="card-header">
						<span><%= blog.date %></span>
						<% if (blog.views > 0) { %>
						<span>👀 <%= blog.views %></span>
						<% } %>
					</div>
					<h2 class="title">
						<a href="/blogs/<%= blog.slug %>"><%= blog.title %></a>
					</h2>
					<p><%- blog.summary %></p>
				</div>
				<% }) %>
			</div>
		</div>
		<br />
	</body>
</html>
