<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.svg" />
		<title>Dumpd! - Categories</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="canonical" href="https://www.dumpd.in/categories" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<%- include('gtag') %>
	</head>
	<body>
		<%- include('header') %>
		<div class="grid grid-cols-1 md:grid-cols-12 gap-2">
			<div class="hidden md:block md:col-span-1"></div>
			<div class="col-span-1 md:col-span-10 flex flex-col">
				<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
					<% categories.forEach(category => { %>

					<div class="card col-span-1 h-full">
						<div class="flex flex-col justify-between">
							<h4><%= category.name %></h4>
							<p><%- category.description.substring(0, 80) %> ...</p>
						</div>

						<div>
							<a href="/blogs/categories/<%= category.name %>">
								<button><i class="fa-solid fa-list"></i>View Category</button>
							</a>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
			<div></div>
		</div>
		<script>
			document.getElementById('menu-toggle').classList.add('hidden');
		</script>
	</body>
</html>
