<nav class="grid grid-cols-24 py-4 mb-4 sticky top-0 z-50 shadow">
	<div class="col-span-1 md:col-span-2"></div>
	<div class="col-span-22 md:col-span-20 items-center grid grid-cols-24">

		<div class="col-span-3">
			<a href="/"><span class="logo">Dumpd!</span></a>
		</div>
		
		<div class="col-span-1 md:col-span-13">
			<form class="hidden md:block" action="/" method="get">
				<input
					type="text"
					name="search"
					placeholder="Search..."
					class="w-full p-1 indent-2"
					value="<%= typeof search !== 'undefined' ? search : '' %>"
				/>
				<button type="submit" class="search-button hidden"><i class="fa-solid fa-magnifying-glass"></i></button>
			</form>
		</div>

		<div class="col-span-20 md:col-span-8">
			<div class="flex items-center justify-end">
				<span class="<%=currentPath === '/categories' ? 'pill-outline-selected': 'pill-outline'%>"
					><a href="/categories"
						><i class="fa-solid fa-list"></i
						><span class="hidden md:inline">Categories</span></a
					></span
				>
				<span class="<%=currentPath === '/series' ? 'pill-outline-selected': 'pill-outline'%>"
					><a href="/series"
						><i class="fa-solid fa-book"></i
						><span class="hidden md:inline">Series</span></a
					></span
				>
				<% if (!isLoggedIn) { %>
				<a href="/login"><button class="login"><i class="fa-solid fa-user"></i>Login</button></a>
				<% } %> <% if (isLoggedIn) { %>
				<div class="flex justify-center items-center gap-2">
					<div class="flex flex-col text-end">
						<span class="text-sm font-bold"><%= authUser.name %></span>
						<a class="hover:underline -mt-1 p-0" href="/logout"
							><span class="text-xs">Logout</span></a
						>
					</div>
					<img
						loading="lazy"
						class="rounded-full w-10 h-10"
						src="<%= authUser.picture %>"
						alt="profile picture of user logged in"
					/>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-span-1"></div>
</nav>
  