<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icons/bot_favicon.png" />
		<title>Dumpd! - Series</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="canonical" href="https://www.dumpd.in/categories" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<%- include('gtag') %>
	</head>
	<body>
		<%- include('header') %>
		<div class="grid grid-cols-1 md:grid-cols-12 gap-2">
			<div class="hidden md:block md:col-span-1"></div>
			<div class="col-span-1 md:col-span-10 flex flex-col">
				<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
					<% series.forEach(seriesItem => { %>
					<div class="card col-span-1 h-full">
						<div class="flex flex-col justify-between">
							<time
								><i class="fa-solid fa-calendar"></i><%=seriesItem.createdAt
								%></time
							>
							<h4><%= seriesItem.title %></h4>
							<p><%- seriesItem.description %></p>
						</div>
						<div class="flex justify-between">
							<a href="/series/<%= seriesItem.slug %>">
								<button class="purple-btn">
									<i class="fa-solid fa-book"></i>View Course
								</button>
							</a>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
			<div></div>
		</div>
	</body>
</html>
